[submodule "source/CommandIntegrator"]
	path = source/CommandIntegrator
	url = https://github.com/dotchetter/CommandIntegrator.git
[submodule "source/schedule"]
	path = source/schedule
	url = https://github.com/dotchetter/schedule.git
