# Ignore pycache
__pycache__

# Ignore log files
runtime_logs

# Ignore client secret
source/.env

# Ignore virtualenv
Include/
Lib/
Scripts/
tcl/
LICENSE.txt
LICENSE
# Ignore logfile
runtime.log

# Ignore env
.env

